/* 
  #989898 - texto sidebar  
  #9226C3 - texto evidencia
  #F2F2F7 - background
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

* {
  border: 0;
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}

body {
  background-color: #F2F2F7;
  font-family: 'Roboto', sans-serif;
  padding: 1rem;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: space-between;
}

/* SIDEBAR */
.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #ffffff;
  border-radius: 1.25rem;
}

.sidebar .logo {
  margin-bottom: 2.25rem;
  padding: 0 0.8rem;
}

.sidebar .logo img {
  width: 100px;
}

.sidebar .sidebar-menu {
  padding: 1.625rem 0.6rem;
}

.sidebar .sidebar-menu .menu li {
  position: relative;
  padding: 0.8rem 0.8rem;
}

.sidebar .sidebar-menu .menu li .submenu {
  position: absolute;
  display: none;
}

.sidebar .sidebar-menu .menu li a {
  display: flex;
  color: #989898;
  font-weight: bold;
}

.sidebar .sidebar-menu .menu li a .icon {
  width: 18px;
  height: 18px;
  stroke-width: 3;
  margin-right: 0.5rem;
}

.sidebar .sidebar-menu .menu li:active,
.sidebar .sidebar-menu .menu li:active a {
  color: #9226C3;
  background-color: #F2F2F7;
  border-radius: 0.625rem;
} 

/* SUBMENU */

.sidebar .sidebar-menu .menu .submenu .submenu-list {
  display: none;
}

/* HEADER PROFILE */
.header .profile {
  display: flex;
  position: absolute;
  right: 1.5%;
}

.header .profile .notification {
  background: white;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .profile .notification .notification-icon {
  color: #8F34FE;
}

.header .profile .menu-profile .menu-item {
  width: 42px;
  height: 42px;
  
}

.header .profile .user-pic {
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 30px;

}

.header .profile .submenu-wrap {
  position: absolute;
  top: 100%;
  right: 0;
  width: 280px;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s;
}

.header .profile .submenu-wrap.open-menu {
  max-height: 400px;
}

.header .profile .submenu-wrap .submenu {
  background: #fff;
  padding: 22px;
  border-radius: 30px;
}

.header .profile .submenu-wrap .submenu .user-info {
  display: flex;
  align-items: center;
}

.header .profile .submenu-wrap .submenu .user-info h2 {
  font-size: 1rem;
  font-weight: bold;
}

.header .profile .submenu-wrap .submenu .user-info img {
  width: 60px;
  border-radius: 50%;
  margin-right: 15px;
}

.header .profile .submenu-wrap .submenu hr {
  border: 0;
  height: 1px;
  width: 100%;
  background: #ccc;
  margin: 10px 0 15px;
}

.header .profile .submenu-wrap .submenu .submenu-link {
  display: flex;
  align-items: center;
  color: #000;
  font-weight: bold;
  font-size: 0.875rem;
  margin: 12px 0;
}

.header .profile .submenu-wrap .submenu .submenu-link p {
  width: 100%;
}

.header .profile .submenu-wrap .submenu .submenu-link .submenu-icon {
  color: #7E7E7E;
  font-size: 22px;
}
