/* 
  #989898 - texto sidebar  
  #9226C3 - texto evidencia
  #F2F2F7 - background
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap');

* {
  border: 0;
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}

body {
  background-color: #F2F2F7;
  font-family: 'Roboto', sans-serif;
  padding: 1rem;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  display: flex;
}

/* SIDEBAR */
.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #ffffff;
  border-radius: 1.25rem;
}

.sidebar .logo {
  margin-bottom: 2.25rem;
  padding: 0 0.8rem;
}

.sidebar .logo img {
  width: 100px;
}

.sidebar .sidebar-menu {
  padding: 1.625rem 0.6rem;
}

.sidebar .sidebar-menu .menu li {
  position: relative;
  padding: 0.8rem 0.8rem;
}

.sidebar .sidebar-menu .menu li .submenu {
  position: absolute;
  display: none;
}

.sidebar .sidebar-menu .menu li a {
  display: flex;
  color: #989898;
  font-weight: bold;
}

.sidebar .sidebar-menu .menu li a .icon {
  width: 18px;
  height: 18px;
  stroke-width: 3;
  margin-right: 0.5rem;
}

.sidebar .sidebar-menu .menu li:active,
.sidebar .sidebar-menu .menu li:active a {
  color: #9226C3;
  background-color: #F2F2F7;
  border-radius: 0.625rem;
} 

/* SUBMENU */

.sidebar .sidebar-menu .menu .submenu .submenu-list {
  display: none;
}

/* HEADER PROFILE */
.header {
  display: block;
}

.header .profile {
  display: flex;
  position: absolute;
  right: 1.5%;
}

.header .profile .notification {
  background: white;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .profile .notification .notification-icon {
  color: #8F34FE;
}

.header .profile .menu-profile .menu-item {
  width: 42px;
  height: 42px;
  
}

.header .profile .user-pic {
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 30px;

}

.header .profile .submenu-wrap {
  position: absolute;
  top: 100%;
  right: 0;
  width: 280px;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s;
}

.header .profile .submenu-wrap.open-menu {
  max-height: 400px;
}

.header .profile .submenu-wrap .submenu {
  background: #fff;
  padding: 22px;
  border-radius: 30px;
}

.header .profile .submenu-wrap .submenu .user-info {
  display: flex;
  align-items: center;
}

.header .profile .submenu-wrap .submenu .user-info h2 {
  font-size: 1rem;
  font-weight: bold;
}

.header .profile .submenu-wrap .submenu .user-info img {
  width: 60px;
  border-radius: 50%;
  margin-right: 15px;
}

.header .profile .submenu-wrap .submenu hr {
  border: 0;
  height: 1px;
  width: 100%;
  background: #ccc;
  margin: 10px 0 15px;
}

.header .profile .submenu-wrap .submenu .submenu-link {
  display: flex;
  align-items: center;
  color: #000;
  font-weight: bold;
  font-size: 0.875rem;
  margin: 12px 0;
}

.header .profile .submenu-wrap .submenu .submenu-link p {
  width: 100%;
}

.header .profile .submenu-wrap .submenu .submenu-link .submenu-icon {
  color: #7E7E7E;
  font-size: 22px;
}

/* MAIN */
/* BANNER */

main {
  width: 100%;
  padding: 0 30px;
}

main .banner {
  width: 100%;
  height: 194px;
  display: flex;
  justify-content: space-around;
  background: linear-gradient(180deg, #1C62AF 0%, #E99FDD 130.15%);
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

main .banner .banner-info {
  color: #fff;
  align-self: center;
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 42px;
}

/* DASHBOARD */

.dashboard {
  margin: 25px 0;
}

.dashboard .content {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}

.dashboard .search {
  width: 330px;
  height: 40px;
  max-width: 480px;
  padding-right: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000;
  background: #FFFFFF;
  box-shadow: 0px 10px 4px rgba(226, 236, 249, 0.5);
  border-radius: 10px;
}

.dashboard .search .search-input {
  padding: 0 20px;
  font-size: 16px;
  color: #000;
  font-weight: bold;
  border: none;
}

.dashboard .search .search-input:focus-visible {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

.dashboard .search .search-input:placeholder {
  color: #000;
  font-weight: bold;
}

.dashboard .search .search-input::before {
  background-color: #000;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
  right: 0.5em;
  margin-left: -50%;
}

.dashboard .search .search-icon {
  transform: rotate(90deg);
  color: #70119C;
  stroke-width: 1;
}

.dashboard .add-client .btn-add-client {
  padding: 8px 18px;
  color: #fff;
  font-size: 0.875rem;
  background: #722D92;
  box-shadow: 0px 4px 4px #DBEBFF;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard .add-client .btn-add-client .add-client-icon {
  margin-right: 4px;
}

/* CARD */

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.cards .card {
  display: flex;
  align-items: center;
  background: #FEFDFD;
  box-shadow: 0px 10px 4px rgba(226, 236, 249, 0.5);
  border-radius: 10px;
  padding: 16px 8px;
}

.cards .card .card-icon {
  background: #F2EFFF;
  width: 82px;
  height: 82px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
}

.cards .card .card-icon .user-icon {
  width: 42px;
  height: 42px;
  color: #70119C;
}

.cards .card .card-icon .user-icon path,
.cards .card .card-icon .user-icon circle {
  fill: #70119C;
}

.cards .card .card-info h4 {
  color: #686868;
  font-size: 0.75rem;
  font-weight: 500;
}

.cards .card .card-info h3 {
  font-size: 2.25rem;
  color: #000;
  font-weight: bold;
  margin: 6px 0;
}

.cards .card .card-info .text-number {
  font-weight: bold;
  display: flex;
  align-items: center;
}

.cards .card .card-info .text-number .trending-icon {
  width: 20px;
  height: 20px;
  stroke-width: 1;
  border-left: 1px;
  border-bottom: 1px;
  border-style: solid;
  margin-right: 8px;
}

.trending-down {
  color: #D0004B;
}

.trending-up {
  color: #00AC4F;
}

.cards .card .card-info .text-number span {
  color: #000;
  font-weight: normal;
  margin-left: 4px;
}